/* -------------       GLOBALES      -----------  */

body{
    box-sizing: border-box;
    width: 100%;
    font-style: "Maven Pro", sans-serif;
    /* background-image: linear-gradient(rgb(247, 157, 22), var(--blanco), var(--blanco), rgb(137, 215, 247)); */
    background-color: #f0f7f7;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --azul: #1c222e;
    --naranja: #f26d22;
    --blanco:rgb(255, 255, 255);
}





/* -------------       HEADER      -----------  */
.navbar{
    /* background-color: var(--azul); */
    padding: 2rem 10rem;
}

.contenido-navbar{
    display: flex;
    width: 100%;
    justify-content: space-between ;
    align-items: center;
}

.logo{
    width: 15rem;
    font-family: "Maven Pro";
    font-weight: 800;
    color: var(--naranja);
}


.nav-item{
    margin: 0 2rem;
    color: rgb(255, 153, 0);
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Maven Pro', 'Sans-serif';
    /* text-transform: uppercase; */
    font-weight: 500;
    /* text-shadow: 2px 2px 10px var(--naranja); */
    &:hover{
        color: var(--azul);
    }
}

.sumate{
    background-color: var(--naranja);
    padding: 0.7rem;
    color: white;
    border-radius: 10%;
    font-weight: 500;
    &:hover{
        background-color: #424649;
        color: var(--blanco);
    }
}


/* -------------       MAIN      -----------  */
.main{
    /* La altura es solo para probar el fondo, despues la saco */
    min-height: 80rem; 
    display: flex;
    flex-direction: column;
}


.primer-div{
    /* background-image: linear-gradient(to bottom right,rgb(131, 158, 248), var(--blanco), var(--blanco), var(--blanco)); */
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        font-family: 'Maven Pro';
        font-size: 5rem;
        color: rgb(255, 153, 0);
        text-align: center;
        font-weight: 500;
        text-shadow: 1px 1px 3px var(--naranja);
        margin: 0;
        span{
            font-weight: 900;
            color: var(--naranja);
        }
        
    }
    button{
        margin-top: 3rem;
        text-transform: uppercase;
        padding: 0.5rem 3rem;
        font-size: 1.5rem;
        font-family: 'Maven Pro';
        font-weight: 500;
        background-color: var(--naranja);
        border: none;
    }

    .texto{
        line-height: normal;
    }
}

.segundo-div{
    padding: 5rem 10rem;
    margin: 0 auto;
    /* background-image: linear-gradient(to bottom right, var(--blanco), var(--blanco), var(--blanco), rgb(255, 181, 83) ); */

    .row{
        margin: 2rem 0;
    }

    .card{
        border-style: none;
        font-family: "Maven Pro";
    }
    .card-title{
        font-weight: 600;
    }

    .card-body, .card-footer{
        background-color: #d2e0e0d0;
    }

}


