/* -------------       GLOBALES      -----------  */

body{
    box-sizing: border-box;
    width: 100%;
    font-style: "Maven Pro", sans-serif;
    /* background-color: #e8f5f5; */
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --azul: #1c222e;
    --naranja: #f26d22;
    --blanco:rgb(255, 255, 255);
}





/* -------------       HEADER      -----------  */
.navbar{
    /* background-color: var(--azul); */
    padding: 2rem 10rem;
}

.contenido-navbar{
    display: flex;
    width: 100%;
    justify-content: space-between ;
    align-items: center;
}

.logo{
    width: 12rem;
    -webkit-filter: drop-shadow(1px 1px 1px #9a3821);
    filter: drop-shadow(1px 1px 1px #9a3821);
}


.nav-item{
    margin: 0 2rem;
    color:#9a3821;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Maven Pro', 'Sans-serif';
    /* text-transform: uppercase; */
    font-weight: 500;
    /* text-shadow: 1px 1px 1px var(--azul); */
    &:hover{
        color: var(--naranja);
    }
}

.sumate{
    background-color: var(--naranja);
    padding: 0.7rem;
    color: white;
    border-radius: 10%;
    font-weight: 500;
    box-shadow:1px 1px 3px #000000;
    &:hover{
        background-color: #9a3821;
        color: var(--blanco);
    }
}


/* -------------       MAIN      -----------  */
.main{
    /* La altura es solo para probar el fondo, despues la saco */
    /* min-height: 80rem;  */
    display: flex;
    flex-direction: column;
}


.primer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        font-family: 'Maven Pro';
        font-size: 5rem;
        color: #9a3821;
        /* color: rgb(255, 153, 0); */
        text-align: center;
        font-weight: 500;
        text-shadow: 1px 1px 3px ;
        margin: 0;
        span{
            font-weight: 900;
            color: var(--naranja);
        }
        
    }
    button{
        margin-top: 3rem;
        text-transform: uppercase;
        padding: 0.5rem 3rem;
        font-size: 1.5rem;
        font-family: 'Maven Pro';
        font-weight: 500;
        background-color: var(--naranja);
        border: none;
        box-shadow:1px 1px 3px #000000;
        &:hover{
            background-color: #9a3821;
        }
    }

    .texto{
        line-height: normal;
    }
}

/* Animacion slider */

.scroller {
    margin: 0 auto;
    margin-top: 3rem;
    
}

.scroller__inner img{
  width: 20rem;
  height: 23rem;
  border-radius: 3%;
  /* filter: brightness(0.7); */
}

.scroller__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  
}

.scroller[data-animated="true"] {
  overflow: hidden;
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  overflow: hidden;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
  
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 40s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
    
  }
}





.segundo-div{
    /* padding: 5rem 10rem 0 10rem; */

    .content{
        color: white;
        text-shadow: 1px 1px 3px rgb(255, 255, 255);
    }

    .texto-segundo-div{ 
        margin-top: 2rem;
        text-align: center;
        font-size: 2rem;
        color: #9a3821;
        font-family: "Maven Pro";
        font-weight: 400;
    }
    

}

/* .tercer-div{
    margin-top: -40px;
    background-image: url(imagenes/bg-canva-2.jpg);
    padding: 5rem 10rem;
    text-align: center;
    transition: opacity 1s ease;
    box-shadow:1px 1px 3px #807878;
    p{
        margin-top: 5rem;
        font-family: "Maven Pro";
        font-weight: 600;
        color: white;
        font-size: 4rem;
    }
    .iconos-nosotros{
        margin-top: 7rem;
        display: flex;
        gap: 2rem;

        p{
            font-family: "Maven Pro";
            color: white;
            font-weight: 300;
            font-size: 1rem;
            margin-top: 1rem;
            text-shadow: none;
        }
    }
    
    .icono {
        text-align: center;
        img {
            height: 8rem;
        }
        h3 {
            font-family: "Maven Pro";
            font-size: 2rem;
            color: #ffffff;
            margin-top: 2rem ;
        }

        .icono-img{
            color: white;
        }
    }

    .conoce-mas{
        margin-top: 5rem;
        color: white;

        h3{
            font-size: 3rem;
        }

        .flecha{
            width: 7rem;
        }
    }

} */

.cuarto-div{
    display: flex;
    flex-direction: column;
    
    .contenedor-texto{
        margin-top: 10rem;
        margin-bottom: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 30%;
        }
    }

    .texto-cuarto-div{
        font-family: "Maven Pro";
        text-shadow: 1px 1px 3px ;
        margin-bottom: 1rem;
        text-align: center;
        font-size: 4rem;
        font-weight: 600;
        color:var(--naranja);
    }

    .carousel{
        margin-bottom: 5rem;
        box-shadow: 3px 3px 5px #f26d22;
    }

    h5{
        font-size: 2rem;
        font-family: "Maven Pro";
    }

    .d-item{
        height: 40rem;
    }

    .d-img{
        filter: brightness(0.8);

    }
}


.quinto-div{
    padding: 5rem 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .texto-quinto-div{
        color: var(--naranja);
        font-family: "Maven Pro";
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
        text-shadow: 1px 1px 3px;
    }

    img{
        width: 20rem;
    }

    .small{
        font-size: 1.5rem;
        text-shadow: none;
    }

    button{
        font-weight: 500;
        font-size: 1.5rem;
        margin-top: 1rem;
        background-color: var(--naranja);
        color: white;
        box-shadow:1px 1px 3px #000000;
        &:hover{
            background-color: #9a3821;
            color: white;
        }
    }
}

.sexto-div{
    padding: 5rem;
    background: linear-gradient(#ff8800, #ffa53e, white);
    .texto-sexto-div{
        margin: 5rem 0 3rem 0;
        color: white;
        font-family: "Maven Pro";
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
    }
    
    .grid-tarjetas{
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }

    .tarjeta{
        text-align: left;
        margin-top: 1.5rem;
        background-color: rgb(255, 255, 255);
        padding: 5rem 2rem;
        border-radius: 3%;
        width: 30rem;
        height: 20rem;
        box-shadow: 2px 2px 5px #9a3821;

        h3{
            font-size: 2.5rem;
            font-weight: 700;
        }
        p{
            font-size: 1.2rem;
            font-weight: 400;
        }
    }

    .tar-1{
        background-color: #ffffff;
        color: #ff9100;
    }

    .tar-2{
        background-color: #ff9100;
        color: white;
    }

    .tar-3{
        background-color: #9a3821;
        color:white;
    }

    .tar-4{
        background-color: #ffffff;
        color: #9a3821;
    }


    .icono3d{
        width: 3rem;
    }

    
}




/* -------------       FOOTER      -----------  */
.footer{
    background-color: white;
    color:#f26d22;
    font-family: "Maven Pro";
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    padding: .5rem;

}



/* css slider */
.slider{
    height: 100vh;
    position: relative;
    margin-top: 2rem;
    box-shadow: 3px 3px 5px #f26d22;
}

.content{
    color: white;

    h3  {
        font-size: 5rem;
        font-weight: 500;
        margin: 2rem 0;
    }
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: radial-gradient(transparent,  rgba(255, 58, 4, 0.116))
}
.slider .list .item .content{
    position: absolute;
    left: 10%;
    bottom: 50%;
    z-index: 1;
}
.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}
.slider .list .item .content h2{
    font-size: 100px;
    margin: 0;
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}
.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}
.arrows button{
    background-color: #9a3821;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}
.arrows button:hover{
    background-color: #eee;
    color: black;
}
.thumbnail{
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1);
}
.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
}
@media screen and (max-width: 678px) {
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content h2{
        font-size: 60px;
    }
    .arrows{
        top: 10%;
    }
}


/* -------------       SOBRE NOSOTROS      -----------  */
.titulo-nosotros{
    text-align: center;
    font-size: 5rem;
    color: #9a3821;
    text-shadow: 1px 1px 3px ;
}

.contenedor-imagen-nosotros{
    display: flex;
    margin: 5rem auto;
    justify-content: center;
    img{
        border-radius: 2%;
        filter: brightness(1.2);
    }
}

.contenedor-texto-nosotros{
    margin: 5rem 12rem;
}

 p{
    text-align: left;
    font-size: 1.2rem;
    color: #9a3821;
    font-weight: 500;
}






/* -------------       SUMATE      -----------  */
.form-contenedor{
    border: 1px solid #9a3821;
    padding: 2rem;
    margin: 5rem auto;
    width: 50%;

    button{
        box-shadow: none;
        border: none;
    }
}

