        /* -------------       GLOBALES      -----------  */


*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --azul: #1c222e;
    --naranja: #f26d22;
    --blanco:rgb(255, 255, 255);
    --naranjaOscuro:#9a3821;
    --naranjaMasOscuro : #631c00;
    --grisFondo: #CBCAC6;
    --grisOscuro:#676767;
}

body{
    box-sizing: border-box;
    width: 100%;
    font-style: "Montserrat", sans-serif;
    background-color: var(--grisFondo);
}





        /* -------------       HEADER      -----------  */
.navbar{
    padding: 2rem 10rem;
}

.contenido-navbar{
    display: flex;
    width: 100%;
    justify-content: space-between ;
    align-items: center;
}

.logo{
    width: 12rem;
    -webkit-filter: drop-shadow(1px 1px 1px var(--grisOscuro));
    filter: drop-shadow(1px 1px 1px var(--grisOscuro));
}


.nav-item{
    margin: 0 2rem;
    color:var(--naranja);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    &:hover{
        color: var(--naranjaOscuro);
    }
}

/* boton de sumate */
.sumate{
    background-color: var(--naranja);
    padding: 0.7rem;
    color: white;
    border-radius: 10%;
    font-weight: 500;
    box-shadow:1px 1px 3px var(--naranja);
    &:hover{
        background-color: var(--naranjaOscuro);
        color: var(--blanco);
        box-shadow:1px 1px 3px var(--naranjaOscuro);
    }
}


            /* -------------       MAIN      -----------  */

.main{
    display: flex;
    flex-direction: column;
}



/* clase de utilidad para agregar animacion fadein */
.fadein{   
    animation: fadein linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;

}

.fadein-derecha{   
    
    animation: fadein-derecha linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 40%;

}

.fadein-izquierda{   
    animation: fadein-izquierda linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 40%;

}

.fadein-cohete{   
    animation: fadein-cohete linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 40%;

}



/* animacion fadein */
@keyframes fadein{
    from{
      opacity: .3;
      translate: 0 500px;
    }
    to{
      opacity: 1;
      translate: 0 0;
  
    }
}

@keyframes fadein-derecha{
    from{
      opacity: .3;
      translate: -1000px 0;
    }
    to{
      opacity: 1;
      translate: 0 0;
  
    }
}

@keyframes fadein-izquierda{
    from{
      opacity: .3;
      translate: -500px 0;
    }
    to{
      opacity: 1;
      translate: 0 0;
  
    }
}

@keyframes fadein-cohete{
    from{
      opacity: .3;
      translate: -300px 300px;
    }
    to{
      opacity: 1;
      translate: 0 0;
  
    }
}



/* div presentacion */
.primer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        font-size: 4.5rem;
        color: var(--grisOscuro);
        text-align: center;
        font-weight: 400;
        text-shadow: 1px 1px 3px ;
        margin: 0;
        span{
            font-weight: 800;
            color: var(--naranja);
        }
        
    }
    button{
        margin-top: 3rem;
        text-transform: uppercase;
        padding: 0.5rem 3rem;
        font-size: 1.5rem;
        font-weight: 500;
        background-color: var(--naranja);
        border: none;
        box-shadow:1px 1px 3px var(--naranja);
        &:hover{
            background-color: var(--naranjaOscuro);
            box-shadow:1px 1px 3px var(--naranjaOscuro);
        }
    }

    .texto{
        line-height: normal;
    }
}

/* slider horizontal automatico */

.slider-horizontal {
    width: 100vw;
    height: auto;
    margin: 2rem auto 0;
    /* padding-bottom: 1rem; */
    overflow: hidden;
}

.slider-horizontal .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 24);

}

.slider-horizontal .slide {
    margin: 0 .5rem;
}

.slider-horizontal .slide img {
    margin: .3rem 0;
    border-radius: 3%;
}

/* .slide-solo{
    padding: 2rem 0;
} */

.slide-solo img{
    height: 30rem;
    width: 20rem;
}

.slide-impar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-par img{
    height: 14.7rem;
    width: 12rem;
}

.slide-impar img{
    height: 19rem;
    width: 15rem;
}

.slide-impar .pulgar{
    height: 10.4rem;
    width: 15rem;
    background-color: var(--naranja);
}


@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-600px * 3));
        transform: translateX(calc(-600px * 3));
    }
}


/* .scroller {
    margin: 0 auto;
    margin-top: 3rem;
    
}

.scroller__inner img{
  width: 20rem;
  height: 23rem;
  border-radius: 3%;

}

.scroller__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  
}

.scroller[data-animated="true"] {
  overflow: hidden;
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  overflow: hidden;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
  
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 40s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
    
  }
} */




/* contenedor slider manual, el css del slider esta abajo de todo porque sino no funciona */
.segundo-div{

    .content{
        color: #313131;
        text-shadow: 1px 1px 3px ;
    }
    

}

/* div texto y cohete */
.tercer-div{
    display: flex;
    flex-direction: column;
    
    .contenedor-texto{
        margin-top: 5rem;
        margin-bottom: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            margin-top: 3rem;
            width: 30%;
        }
    }

    .texto-tercer-div{
        text-shadow: 1px 1px 3px ;
        margin-bottom: 1rem;
        text-align: center;
        font-size: 4rem;
        font-weight: 600;
        color:var(--naranja);
    }

}

/* carrusel con bootstrap patagonia */
.carousel{
    margin-bottom: 5rem;
    background-position: center bottom;

    h5{
        font-size: 2rem;
    }
    
    .d-item{
        height: 95vh;
        
    }
    
    .d-img{
        filter: brightness(0.5);
    }
}


.contenedor-quinto-sexto{
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin: 0 5rem 5rem;
}

.div-mitad{
    width: 50%;
    padding: 2.5rem 1rem;

    img{
        width: 15em;
    }

}


.quinto-div{

    display: flex;
    flex-direction: column;
    align-items: center;

    .texto-quinto-div{
        color: var(--naranjaOscuro);
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
        text-shadow: 1px 1px 3px ;
    }


    .small{
        font-size: 1.5rem;
        text-shadow: none;
    }

    button{
        font-weight: 500;
        font-size: 1.5rem;
        margin-top: 1rem;
        background-color: var(--naranjaOscuro);
        color: white;
        box-shadow:1px 1px 3px var(--naranjaOscuro);
        &:hover{
            background-color: var(--naranjaMasOscuro);
            box-shadow:1px 1px 3px var(--naranjaMasOscuro);
            color: white;
        }
    }
}

.sexto-div{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--naranja);
    color: white;
    border-radius: 2%;
    box-shadow: 5px 5px 15px var(--naranjaMasOscuro);

    .texto-sexto-div{
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
        text-shadow: 1px 1px 3px ;
    }


    .small{
        font-size: 1.5rem;
        text-shadow: none;
    }

    button{
        font-weight: 500;
        font-size: 1.5rem;
        margin-top: 1rem;
        background-color: white;
        color: var(--naranjaOscuro);
        box-shadow:1px 1px 3px var(--grisOscuro);
        &:hover{
            background-color: var(--grisFondo);
            color: var(--naranjaMasOscuro);
        }
    }
}


.septimo-div{
    padding: 5rem ;
    background-color: var(--naranja);

    .texto-septimo-div{
        margin: 5rem 0 3rem 0;
        color: var(--blanco);
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
        text-shadow: 1px 1px 3px;
    }
    
    .grid-tarjetas{
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }

    .tarjeta{
        text-align: left;
        margin-top: 1.5rem;
        padding: 5rem 2rem;
        border-radius: 3%;
        width: 30rem;
        height: 20rem;
        box-shadow: 2px 2px 5px #9a3821;

        h3{
            font-size: 2.5rem;
            font-weight: 700;
        }
        p{
            font-size: 1.2rem;
            font-weight: 400;
        }
    }



    .tar-1{
        background-color: #eee;
        color: #ff9100;
    }

    .tar-2{
        background-color: #ff9100;
        color: white;
    }

    .tar-3{
        background-color: var(--naranjaOscuro);
        color:white;
    }

    .tar-4{
        background-color: #eee;
        color: #9a3821;
    }

    
}






/* -------------       FOOTER      -----------  */
.footer{
    color:var(--naranjaOscuro);
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding: 1.5rem;

}

.footer-index{
    background-color: var(--naranja);
    color: var(--blanco);
}



/* slider manual fotos de casas (esta aca porque sino no funciona) */
.slider{
    height: 100vh;
    position: relative;
    margin-top: 2rem;
}

.content{
    
    h3  {
        color: white;
        text-shadow: 1px 1px 3px var(--naranjaMasOscuro);
        font-size: 5rem;
        font-weight: 500;
        margin: 2rem 0;
    }
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: radial-gradient(transparent,  rgba(255, 58, 4, 0.116))
}
.slider .list .item .content{
    position: absolute;
    left: 10%;
    bottom: 50%;
    z-index: 1;
}
.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}
.slider .list .item .content h2{
    font-size: 100px;
    margin: 0;
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}
.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}
.arrows button{
    background-color: var(--naranja);
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}
.arrows button:hover{
    background-color: #eee;
    color: black;
}
.thumbnail{
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1);
}
.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
}
@media screen and (max-width: 678px) {
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content h2{
        font-size: 60px;
    }
    .arrows{
        top: 10%;
    }
}


/* -------------       SOBRE NOSOTROS      -----------  */
.titulo-nosotros{
    text-align: center;
    font-size: 5rem;
    color: #9a3821;
    text-shadow: 1px 1px 3px ;
}

.contenedor-imagen-nosotros{
    display: flex;
    margin: 5rem auto;
    justify-content: center;
    img{
        width: 80%;
        border-radius: 2%;
        filter: brightness(1.2);
    }
}

.contenedor-texto-nosotros{
    margin: 5rem 12rem;
}

.texto-nosotros{
    text-align: left;
    font-size: 1.2rem;
    color: #9a3821;
    font-weight: 500;
}






/* -------------       SUMATE      -----------  */
.form-contenedor{
    border: 1px solid #9a3821;
    padding: 2rem;
    margin: 5rem auto;
    width: 50%;

    button{
        box-shadow: none;
        border: none;
    }
}

